<h2>Add a celebrity</h2>

<form action="/celebrity" method="post">
    <label for="name">Enter name: </label>
    <input id="name" type="text" name="name" placeholder="Default name"><br>
    <label for="occupation">Enter occupation: </label>
    <input id="occupation" type="text" name="occupation" placeholder="Default occupation"><br>
    <label for="catchPhrase">Enter catchPhrase: </label>
    <input id="catchPhrase" type="text" name="catchPhrase" placeholder="Default catchPhrase"><br>
    <input type="submit" value="create">
</form>