<h2>Detail-Page</h2>


    <ul>
        <li><strong>Name: </strong>{{data.name}}</li>
        <li><strong>Occupation: </strong>{{data.occupation}}</li>
        <li><strong>Catchphrase: </strong>{{data.catchPhrase}}</li>
    </ul>

